# Python requirements for unit tests
-r ../requirements.txt

unittest2
# Web test
webtest
# Use py.test as test-runner
pytest
pytest-cov
# Let coverage use the most recent version
coverage
# Report coverage results to coveralls.io
coveralls
# Static code analysis libraries
pylint
pycodestyle
pep257
# uWSGI server
uwsgi
# Mock
mock
requests_mock