# this is the requirements dedicated to tests.
-r ../requirements.txt
unittest2
mock
coveralls
nose-cov
coverage
nose
pylint
pep8
pep257
uwsgi
# alignak_backend_client
-e git+git://github.com/Alignak-monitoring-contrib/alignak-backend-client.git@develop#egg=alignak_backend_client
# alignak
-e git+https://github.com/Alignak-monitoring/alignak.git@develop#egg=alignak
