# this is the requirements dedicated to tests.
-r ../requirements.txt
unittest2
mock
coveralls
nose-cov
coverage
nose
pylint
pep8
pep257
-e git+https://github.com/Alignak-monitoring-contrib/alignak-backend-client.git#egg=alignak_backend_client
uwsgi
-e git+https://github.com/Alignak-monitoring/alignak.git@simplify_modules_manager#egg=alignak
