include README.rst LICENSE AUTHORS requirements.txt
include etc/settings.json
include etc/uwsgi.ini
recursive-include alignak_backend *.*
include bin/alignak-backend-uwsgi
include bin/rc.d/alignak-backend
global-exclude *pyc