# Too general libraries to specify a version
future
docopt

jsonschema==2.6.0
jsmin==2.2.2
configparser==3.5.0

influxdb==5.1.0
statsd==3.2.2

# Set Eve as 0.7.9 because >=0.8.0 is not yet compatible
Flask-Pymongo<2.0.0
Eve==0.7.9
Eve-Swagger==0.0.11

# Flask extensions
flask-bootstrap==3.3.7.1
flask-apscheduler==1.8.0

# uWSGI server - a recommended Web server to run the application in a production environment
# uncomment this to install from the Python repository if not installed by the server packaging
# uwsgi==0.2.17
