# This is a check based on the load average look by ssh
define service{
   service_description    CPU Stats
   use            	  linux-ssh-service, important
   register       	  0
   host_name	  	  linux-ssh
   check_command  	  check_ssh_linux_cpu_stats

   aggregation		  system/perfs
   
   business_impact   5
}
