# This is a check based on the ntp look by ssh
define service{
   service_description    NtpSync
   use            	  linux-ssh-service
   register       	  0
   host_name	  	  linux-ssh&!chrony
   check_command  	  check_ssh_linux_ntp_sync

}
