# -----------------------------------------------------------------
#
#      Linux standard check
#
# -----------------------------------------------------------------


define command {
       command_name     check_ssh_connexion
       command_line     $PLUGINSDIR$/check_ssh_connexion.py -H $HOSTADDRESS$  -p $_HOSTSSH_PORT$  -u $_HOSTSSH_USER$  -i $_HOSTSSH_KEY$  -P "$_HOSTSSH_KEY_PASSPHRASE$"
}



define command {
       command_name     check_ssh_linux_memory
       command_line     $PLUGINSDIR$/check_memory_by_ssh.py -H $HOSTADDRESS$  -p $_HOSTSSH_PORT$  -u $_HOSTSSH_USER$  -i $_HOSTSSH_KEY$  -P "$_HOSTSSH_KEY_PASSPHRASE$" -w "$_HOSTMEMORY_WARN$" -c "$_HOSTMEMORY_CRIT$" -m -s
}



define command {
       command_name     check_ssh_linux_cpu_stats
       command_line     $PLUGINSDIR$/check_cpu_stats_by_ssh.py -H $HOSTADDRESS$  -p $_HOSTSSH_PORT$  -u $_HOSTSSH_USER$  -i $_HOSTSSH_KEY$  -P "$_HOSTSSH_KEY_PASSPHRASE$"
}


define command {
       command_name     check_ssh_linux_disks
       command_line     $PLUGINSDIR$/check_disks_by_ssh.py -H $HOSTADDRESS$  -p $_HOSTSSH_PORT$  -u $_HOSTSSH_USER$  -i $_HOSTSSH_KEY$  -P "$_HOSTSSH_KEY_PASSPHRASE$" -U $_HOSTSTORAGE_UNIT$ -w $_HOSTSTORAGE_WARN$ -c $_HOSTSTORAGE_CRIT$ -m '$_HOSTSTORAGE_MOUNTS$'
}



define command {
       command_name     check_ssh_linux_disks_stats
       command_line     $PLUGINSDIR$/check_disks_stats_by_ssh.py -H $HOSTADDRESS$  -p $_HOSTSSH_PORT$  -u $_HOSTSSH_USER$  -i $_HOSTSSH_KEY$  -P "$_HOSTSSH_KEY_PASSPHRASE$"
}

define command {
       command_name     check_ssh_linux_kernel_stats
       command_line     $PLUGINSDIR$/check_kernel_stats_by_ssh.py -H $HOSTADDRESS$  -p $_HOSTSSH_PORT$  -u $_HOSTSSH_USER$  -i $_HOSTSSH_KEY$  -P "$_HOSTSSH_KEY_PASSPHRASE$"
}


define command {
       command_name     check_ssh_linux_load_average
       command_line     $PLUGINSDIR$/check_load_average_by_ssh.py -H $HOSTADDRESS$  -p $_HOSTSSH_PORT$  -u $_HOSTSSH_USER$  -i $_HOSTSSH_KEY$  -P "$_HOSTSSH_KEY_PASSPHRASE$" -w "$_HOSTLOAD_WARN$" -c "$_HOSTLOAD_CRIT$"
}



define command {
       command_name     check_ssh_linux_processes
       command_line     $PLUGINSDIR$/check_processes_by_ssh.py -H $HOSTADDRESS$  -p $_HOSTSSH_PORT$  -u $_HOSTSSH_USER$  -i $_HOSTSSH_KEY$  -P "$_HOSTSSH_KEY_PASSPHRASE$" -C "$ARG1$"
}



define command {
       command_name     check_ssh_linux_tcp_states
       command_line     $PLUGINSDIR$/check_tcp_states_by_ssh.py -H $HOSTADDRESS$  -p $_HOSTSSH_PORT$  -u $_HOSTSSH_USER$  -i $_HOSTSSH_KEY$  -P "$_HOSTSSH_KEY_PASSPHRASE$"
}


define command {
       command_name     check_ssh_linux_net_stats
       command_line     $PLUGINSDIR$/check_net_stats_by_ssh.py -H $HOSTADDRESS$  -p $_HOSTSSH_PORT$  -u $_HOSTSSH_USER$  -i $_HOSTSSH_KEY$  -P "$_HOSTSSH_KEY_PASSPHRASE$"
}

define command {
       command_name     check_ssh_ro_filesystem
       command_line     $PLUGINSDIR$/check_ro_filesystem_by_ssh.py -H $HOSTADDRESS$  -p $_HOSTSSH_PORT$  -u $_HOSTSSH_USER$  -i $_HOSTSSH_KEY$  -P "$_HOSTSSH_KEY_PASSPHRASE$"
}


define command {
       command_name     check_ssh_linux_uptime
       command_line     $PLUGINSDIR$/check_uptime_by_ssh.py -H $HOSTADDRESS$  -p $_HOSTSSH_PORT$  -u $_HOSTSSH_USER$  -i $_HOSTSSH_KEY$  -P "$_HOSTSSH_KEY_PASSPHRASE$"                                                   
}


define command {
       command_name    check_ssh_linux_ntp_sync
       command_line    $PLUGINSDIR$/check_ntp_sync_by_ssh.py -H $HOSTADDRESS$  -p $_HOSTSSH_PORT$  -u $_HOSTSSH_USER$  -i $_HOSTSSH_KEY$  -P "$_HOSTSSH_KEY_PASSPHRASE$" -w 40 -c 60
}

define command {
       command_name    check_ssh_linux_ntp_sync_chrony
       command_line    $PLUGINSDIR$/check_ntp_sync_by_ssh.py -H $HOSTADDRESS$  -p $_HOSTSSH_PORT$  -u $_HOSTSSH_USER$  -i $_HOSTSSH_KEY$  -P "$_HOSTSSH_KEY_PASSPHRASE$" -C -w "$_HOSTDELAY_WARNING$,$_HOSTOFFSET_WARNING$" -c "$_HOSTDELAY_CRITICAL$,$_HOSTOFFSET_CRITICAL$"
}


define command {
       command_name	check_ssh_linux_nfs_stats
       command_line	$PLUGINSDIR$/check_nfs_stats_by_ssh.py -H $HOSTADDRESS$  -p $_HOSTSSH_PORT$  -u $_HOSTSSH_USER$  -i $_HOSTSSH_KEY$  -P "$_HOSTSSH_KEY_PASSPHRASE$"
}

