## Module:      retention-mongodb
## Loaded by:   Scheduler
# Retention file to keep state between process restarts.
define module {
   module_name     retention-mongodb
   module_type     mongodb_retention
   uri             mongodb://localhost
   database        shinken

   # Advanced option if you are running a cluster environnement
   #    replica_set
}
